@import url(https://fonts.google.com/specimen/Fjalla+One);
@import url(https://fonts.google.com/?query=Droid+Serif);

:root {
    --white: #F6F6FF;
    --black: #1F1F1F;
    --green: #64be8b;
    --lightgreen:#7BDCB5;
    --pink:#D93DA5;
    --yellow: #E6E16D;
    --red: #FF5757;
}

.white{
  color: #F6F6FF;
}

.bgWhite {
  background-color: #F6F6FF;
}

.black {
  color: #1F1F1F;
}

.bgBlack {
  background-color: #1F1F1F;
}

.green {
  color: #64be8b;
}

.bgGreen {
  background-color: #64be8b;
}

.lightgreen {
  color: #7BDCB5;
}

.bgLightgreen {
  background-color: #7BDCB5;
}

.pink {
  color: #D93DA5;
}

.bgPink {
  background-color: #D93DA5;
}

.yellow {
  color: #E6E16D;
}

.bgYellow {
  background-color: #E6E16D;
}

.red {
  color: #FF5757;
}

.bgRed {
  background-color: #FF5757;
}

#logo {
  width: 25%;
  height: 7%;
}

/*le positionnement de mon bouton voir la boutique au milieu du slide */
#laBoutique {
  top: -460px;
  position: relative;
  left: 43%; 
  background-color: #64be8b;
}

/*effet de survol mon bouton voir la boutique au milieu du slide */    
#laBoutique:hover {
  color:#D93DA5;
}  

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

/*page boutique: les paramètres de mes fiches produits*/
.product-card {
  width: calc(33.33% - 20px);
  float: right;
  margin: 10px;
  padding: 10px;  
  border-radius: 5px;
  text-align: center;
  background-color:#7BDCB5 ;
}

body {
  /* Vos styles d'arrière-plan ou autres styles globaux */
  background-color: #FF5757; /* Exemple de couleur d'arrière-plan */
  
  /* Autres styles globaux */
}

/* Couleur de mes icones de réseaux sociaux dans le footer */
.custom-icon-color {
    color: #64be8b;
}

/* mise en forme de l'inscription à la newsletter  */
.newsletter-section {
  text-align: center;
  margin: 20px 0;
}

.newsletter-section form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.newsletter-section input[type="email"] {
  padding: 10px;
  margin-right: 10px;
}

.newsletter-section button {
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* mise en forme de la section transport */
/* Exemple de classes pour vos boutons */
.myButton {
  background-color:#64be8b;  /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  /* Autres styles comme la taille de la police, la marge, le rembourrage, etc. */
}

.myButton:hover {
  background-color: #E6E16D; /* Couleur de fond du bouton au survol */
  /* Autres styles de survol */
}

/* Style du trait rose sous mes images */
.pinkSeparator {
  height: 3px; /* Hauteur du trait */
  width: 70%; /* Largeur du trait (pleine largeur) */
  background-color: #D93DA5; /* Couleur du trait */
  margin: 20px auto; /* Marge autour du trait */
}

/* Mise en forme de la FAQ */
.faq-section {
  /* Styles pour la section FAQ */
  /* Par exemple, marges, espacement, etc. */
}

.faq-item {
  /* Styles pour chaque élément de FAQ (question + réponse) */
  /* Par exemple, arrière-plan, marges, bordures, etc. */
}

.faq-question {
  background-color: #64be8b;
  color: #D93DA5;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5em;
}

.faq-answer {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  color:#1F1F1F;
}
/* Essai d'ajustement du bouton panier */


#panierPopup {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Assurez-vous que le bouton est en avant par rapport aux autres éléments si nécessaire */
}